<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="dominos_testcase.Homepage_testcase"/>
      <class name="dominos_testcase.Add_to_cart_testcase"/>
      <class name="dominos_testcase.Termsandcondi_testcase"/>
      <class name="Repeat_boy.Uber.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
